/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    font-family: Roboto, Helvetica, sans-serif;
}
/*__________________________________________*/

body, .body, .info, .quote, footer, .hero .left, .info .card, .sign-up .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header, .hero, .info .content, .sign-up {
    display: flex;
    flex: 1;
}

.info, .info .content, .footer {
    justify-content: center;
    align-items: center;
}

.link {
    list-style-type: none;
}

/*__________________________________________*/



.info img {
    height: 75px;
    width: 75px;
}

/* color and font prerequisites */

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header, .hero, .footer {
    background-color: #1F2937;
    height: 74;
}

.hero .h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header .link, .hero .p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    width: 200px;
    height: auto;
}

.sign-up, .button {
    background-color: #3882F6;
}

.info .h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote .p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
