/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    font-family: Roboto, Helvetica, sans-serif;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero, .footer {
    background-color: #1F2937;
    height: 74;
}

.hero .h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header .link, .hero .p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up, .button {
    background-color: #3882F6;
}

.info .h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote .h2 {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.body {
    display: flex;
    flex: 1 1 auto;
}

.hero {
    display: flex;
}

.info {
    display: flex;
}

.footer {
    display: flex;
}